{
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "useTabs": false,
        "trailingComma": "none",
        "proseWrap": "always"
      }
    }
  ]
}
